nav.toc {
  position: fixed;
  right: 0;
  top: 350px;
  background-color: white;
  max-width: 50%;
  max-height: 80%;
  padding: 10px;
  box-shadow: 0 0 1em #777777;
  overflow: auto;
  font-size: small;
}



