nav.toc {
  position: fixed;
  top: 20em;
  right: 0;
  padding: 1em;
  background-color: floralwhite;
  max-width: 50%;
  max-height: 25em;
  border-radius: 1em;
  box-shadow: 0 0 1em #777777;
  font-size: small;
  overflow: auto;
}



