# https://github.com/jeffreytse/jekyll-deploy-action
name: Build and Deploy to Github Pages

on:
  push:
    branches:
      - skip-markdown  # Run when changes are pushed to this branch

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # Use GitHub Actions' cache to cache dependencies on servers
      - uses: actions/cache@v3
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-

      # Use GitHub Deploy Action to build and deploy to Github
      - uses: jeffreytse/jekyll-deploy-action@v0.5.1
        with:
          provider: 'github'
          token: ${{ secrets.GITHUB_TOKEN }} # It's your Personal Access Token(PAT)
          repository: ''             # Default is current repository
          branch: 'new-gh-pages'         # Default is gh-pages for github provider
          jekyll_src: './org/jekyll'           # Default is root directory
          jekyll_cfg: '_config.yml'  # relative to jekyll_src
          jekyll_baseurl: ''         # Default is according to _config.yml
          bundler_ver: '>=0'         # Default is latest bundler version
          cname: ''                  # Default is to not use a cname
          actor: ''                  # Default is the GITHUB_ACTOR
          pre_build_commands: 'pacman-key --refresh-keys'     # Installing additional dependencies (Arch Linux)
